*:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    #border: 2px solid blue;

    box-shadow: 0 0 5px blue;
    #padding: 3px 0px 3px 3px;
    #margin: 5px 1px 3px 0px;
    #border: 1px solid rgba(81, 203, 238, 1);
}

.tydeligere{
    text-shadow: white 0px 0px 10px;

}

.justify{
    text-align: justify;
}

.eupopup-head{
    font-size: 30px;
}

.eupopup-body{
    font-size: 15px;;
}

.eupopup-button:hover{
    font-size: 20px;
}

.ckanpp{
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.nedover {
    margin-top: 300px;
}

.nav-item{
    font-size: 20px;
}

.btn-primary{
    background-color: #892119;
    border-color: #892119;
    color: #d2af75;
}

.btn-primary:hover{
    background-color: white;
    border-radius: 25px;
    color: #c35438;
}