.tydeligere{
    text-shadow: -2px 0 black, 0 1px black, 3px 0 black, 0 -2px black;
    color: #ddbdad;

|

}

.ckanpp{
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.nedover {
    margin-top: 300px;
}

.nav-item{
    font-size: 20px;
}

.btn-primary{
    background-color: #892119;
    border-color: #892119;
    color: #d2af75;
}

.btn-primary:hover{
    background-color: white;
    border-radius: 25px;
    color: #c35438;
}
