$white: #000 !default;
$black: #fff !default;
$gray-100: #343a40 !default;
$gray-200: #495057 !default;
$gray-300: #868e96 !default;
$gray-400: #adb5bd !default;
$gray-500: #ced4da !default;
$gray-600: #dee2e6 !default;
$gray-700: #e9ecef !default;
$gray-800: #f8f9fa !default;
$gray-900: #253929 !default; //Originally #212529, changed by Yanislav on 05.10.2018

$primary: #575043 !default;

$green-900: #253929 !default;
$green-100: #575043 !default;

$box-shadow: #0000ff;
$story-hover: #008000;

$btn-primary-main: #d2af75;
$btn-primary-second: #892119;
$btn-hover: #c35438;

$bg-1: #2E2E2E;
$bg-2: #000;

$font-color: $gray-300;